{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
        <h3>
            股票模拟交易系统
            <small class="text-muted">助您走向成功！</small>
        </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">股票代码</th>
                    <th scope="col">股票名称</th>
                    <th scope="col">开盘价</th>
                    <th scope="col">最高价</th>
                    <th scope="col">最低价</th>
                    <th scope="col">成交量</th>
                    <th scope="col">涨跌幅</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{stock.code}}</th>
                    <td>{{stock.name}}</td>
                    <td>{{stock.open}}</td>
                    <td>{stock.high}}</td>
                    <td>{{stock.low}}</td>
                    <td>{{stock.amount}}</td>
                    <td>{{stock.ratio}}</td>
                </tr>
            </tbody>
            </table>
    {% endblock %}
</body>